{% include "header.html" %}
        <h1>Products</h1>

        <table>
            <tr><th>Code</th><th>Name</th><th>Price</th></tr>
            
            <tr><td><a href="productdetails?code=200">200</a></td><td><a href="/brewedcoffee">Brewed Coffee</td><td>100</td></tr>
            <tr><td><a href="productdetails?code=300">300</a></td><td><a href="/cappuccino">Cappuccino</td><td>120</td></tr>
            <tr><td><a href="productdetails?code=400">400</a></td><td><a href="/expresso">Expresso</td><td>120</td></tr>
        </table>
{% include "footer.html" %}
